@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');

:root {
    --fn: #333; /* Cor do texto */
    --fn1: #221111; /* Cor do texto secundário */
    --fn2: #506aee; /* Cor verde */
    --fn3: #212121; /* Cor de fundo escura */
    --bg: #ebebeb; /* Cor de fundo principal */
    --bgft: #F5F5F5; /* Cor de fundo secundária */
    --bg2: #FFFFFF; /* Cor de fundo alternativa */
    --z1: 5000;
    --z2: 3000;
    --z3: 10000;
    --dg: linear-gradient(180deg, #4fafef 25%, #81b373 100%); /* Gradiente de fundo */
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-margin-top: 50px;
}

img, svg {
    width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: var(--bg);
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    color: var(--fn);
    overflow: hidden;
    user-select: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content:space-between;
}

.header,
.body__home-screen1,
.home__details,
.home__products > img,
.body__products,
.product__details-img
{margin: 0 auto;}

.header {
    width: 100%;
    position: fixed;
    z-index: var(--z1);
}

.header__navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 5rem;
    background-image:linear-gradient(rgb(19, 19, 27), rgb(44, 44, 44), rgb(78, 77, 77))
    
}

.navbar__menu-home {
    padding-left: 3.5rem;
    padding-right: 3rem;
    cursor: pointer;
}

.navbar__menu-home > svg {
    width: 50px;
}

.navbar__menu-home > a {
    font-weight: 900;
    font-size: 1.2rem;
    padding-left: 0.3rem ;
    text-decoration: none;
    color: var(--bg2);
    text-shadow: -1px 2px 2px black;
}

.navbar__menu-option > a {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7rem;
    text-decoration: none;
    color: var(--bg2);
}

.navbar__car-items {
    padding-right: 3rem;
    cursor: pointer;
    color: #F5F5F5;
}
.navbar__car-items i {
    font-size: 1.4rem;
    color: #4fafef;
    }

.navbar__car-items section {
    padding-right: 2rem;
}

.body__home-screen1 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 6rem 2.5rem;
    
    max-width: 935px;
}

.home__details {
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    color: var(--fn1);
}

.home__details-item-info {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.home__details-item-info h1{
    font-size: 3rem;}

.home__details-item-info p:nth-child(3) {
    font-size: 2rem;
    padding-top: 0.5rem ;
    animation: price linear 3s infinite;
}


@keyframes price {
    0% { transform: rotate(0);}
    30% {transform: rotate(3deg);}
    80% { transform: scale(1.03);}
}

.home__details-item-buttons {
    padding: 1.5rem;
  
}

.home__details-item-buttons button {
    width: 6.3rem;
    color: var(--bg2);
    font-weight: bold;
    margin: 10px 0 0 15px;

    border-radius: 3px;
    cursor: pointer;
    
}

.home__details-item-buttons button:nth-child(2) {
    margin-left: -0.1rem;
    border: none;
    background-color: var(--fn3);
    height: 3.5rem;
    width: 6.5rem;
}

.home__details-item-buttons button:nth-child(1) {
    background-color: var(--fn2);
    border: #0ee476;
    height: 2.8rem;
    color: var(--fn1);
    font-weight: 900;
    
}

.home__products {
    background-color: var(--fn2);
    padding-top: 150px;
    margin: -130px 30px 0 0;
    height: 33rem;
}

.home__products > img {
    width: 310px;
    height: 320px;

    cursor: pointer;
    animation: movimiento linear 2.1s infinite;
}

@keyframes movimiento{
    20% { transform: translateY(-5px)}
    60% {transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.body__products {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    max-width: 1300px;
}

.product__search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 3.2rem;
    gap: 1rem;
}

.product__search > section {
    height: auto;
    padding: 0.5rem;
    
}

.product__search-categories {
    border-left: 2px solid var(--fn2);
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;

    cursor: pointer;
}

.product__search-categories:nth-child(1) {
    border-left: none;
}

.product__search section > p {
    padding: 0.5rem;
}

.product__search-categories > h3{
    padding-top: 0.2rem;
}

.product__details {
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    padding: 0rem 5rem 0rem 5rem;
}

.product__details-img {
    background: var(--dg);
    width: 205px;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;    
}

.product__details-img img:hover {
    transform: scale(1.04);
    animation: mhover linear 2.5s infinite;
}

.product__details-img:hover {
    transform: scale(1.04);
    transition: transform 0.8s;
}

@keyframes mhover {
    20% { transform: translateY(-5px)}
    60% {transform: translateY(6px);}
    100% {transform: translateY(0);}
}

.product__details-img-details {
    flex-direction: column;
    padding: 1rem;
}

.product__details-img-details-title {
    font-size: 1.2rem;
}

.product__details-img-details-title h3 {
    padding: 0 0.5rem 0.2rem 0;
}

.product__details-img-details-title p {
    font-size: 0.8rem;
    color: var(--fn1);
    letter-spacing: 1px;
}

.footer {
    width: 100%;
    background-color: var(--dg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 3rem;
    margin-top: 4rem;
}

.footer__information {
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none;
}

.footer__information > p {
    color: var(--fn1);
    font-size: 0.9rem;
    padding: 0.3rem;
}

.footer__information-social {
    justify-content: center;
    gap: 1rem;
    font-size: 30px;
    color: var(--fn1);
}

.footer__information:nth-child(2) p,
.footer__information:nth-child(3) p,
.footer__information:nth-child(4) p{
    cursor: pointer;
}

.footer__information-social a {
    color: var(--fn1);
}

.footer__bottom {
    background-color: var(--bgft);
    padding: 3rem;
    text-align: center;
}

.footer__bottom > p {
    padding-top: 3rem;
    color: var(--fn2);
}

.footer__bottom > hr {
    opacity: 0.3;
}


/* Light and Dark Mode */

.color__background {
    background-color: var(--bg2);
     /* container, */
}
.color__fonts {
    color: var(--fn3);
    /* container, menu-home-store, navbar__menu-option, navbar__menu-option, home__details-item, */
}


/* -----------css javascript------------- */

.color__background-navbar {
    background: var(--bg);
    opacity: 0.98;
}

.bx-shopping-bag{
    font-size: 2rem;
    cursor: pointer;

    position: relative;
}

.cartAmount{
    position: absolute;
    display: inline-block;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    bottom: -7px;
    right: -7px;

    background-color: #a69c9c;
    color: #fff;
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

/* seccion del boton de add to cart */

.product_options {
    padding: 0.5rem;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    color: var(--fn);

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn__add,
.btn__buy {
    background-color: var(--bgft);
    width: 100%;
    padding: 0.5rem;
}

.btn__su {
    width: 100%;
    background-color: #000;
    cursor: no-drop;
}
/* seccion de div class container */

.div__container{
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

/* seccion de div class products */

.products{
    display: grid;
    gap: 0.5rem;

    grid-template-columns: 1fr, 1fr;
}

.product {
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: var(--bgft);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.product__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    gap: 0.4rem;
}

.product_options {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0.4rem;
}

/* contenido del carrito */

.contentCart {
    height: calc(100vh);
    width: 320px;
    top: 0px;
    right: 0px;
    position: fixed;
    background-color: var(--bgft);
    border-radius: 1rem;
    padding: 1.5rem;

    z-index: var(--z1);
    transform: translate(100%);
    transition: transform 0.5s;
}

.contentCart__close {
    font-size: 2rem;
    color: white;
    position: absolute;
    z-index: var(--z3);
    top: 2px;
    left: 4px;
    cursor: pointer;
    text-shadow: -3px 2px 2px black;


}

.contentCart__show {
    transform: translate(0);
}

.cartProduct {
    height: 80%;
    background-color: var(--bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    margin-top: 0.2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    overflow-y: scroll;
}

.cartProductempty {
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: -30px;
    z-index: var(--z1);
}

/* contenido productos agregados al carrito */

.product__img img {
    width: 100px;
}

.cartProduct .product {
    background-color: var(--fn2);
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    justify-content: space-between;
}

.cartProduct .product .product_options {
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

/* total del carrito */
.cartTotal {
    height: 20%;
    background: var(--dg);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn__buy {
    box-shadow: 3px 3px 3px black;
}



@media(max-width: 700px) {
    .navbar__menu-option {
        display: none;
    }

    .body__home-screen1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        padding: 6rem 0rem 4rem 2rem;
    }

    .home__details {
        grid-row: 2/3;
    }

    .home__products {
        grid-row: 1/2;
    }

    .body__products {
        padding: 0;
        width: 100%;
    }

    .product__search {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 0.5rem;
    }
    
    .product__search-categories {
        border-left: 2px solid var(--fn2);
        font-size: 0.9rem;
    
        cursor: pointer;
    }
    
    .product__search-categories:nth-child(3) {
        border-left: none;
    }
    
    .product__search section > p {
        padding: 0.5rem;
    }
    
    .product__search-categories > h3{
        padding-top: 0.2rem;
    }

    .contentCart {
        height: 95vh;
        width: 320px;
    }

    .cartTotal h3 {
        font-size: 0.9rem;
    }
}

@media(max-width: 400px) {
    .body__home-screen1 {
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0rem 4rem 1rem;
    }

    .home__details-item-info h1{
        font-size: 2.1rem;}
    
}